<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dies" class="in.vikasit.DieselEng"/>
	
	<bean id="petr" class="in.vikasit.PetrolEng"/>
	
	<bean id="car" class="in.vikasit.Car">
	
	<property name="eng" ref="petr"/>
	
	
	</bean>
</beans>
